@charset "UTF-8";
/* ["ccdee0","a4a1a5","6f8f66","736359","491d1d"]
biru, abu-abu, hijau, cokelat, merah gelap */
:root {
    --colorForeground: #491d1d;
    --colorBrown: #736359;
    --colorGreen: #6f8f66;
    --colorGrey: #a4a1a5;
    --colorBlue: #ccdee0;
}
body {
    background-color: var(--colorForeground);
    color: var(--colorBackground);
    font-family: "Grenze Gotisch", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 31px;
    a:link, a:visited {
        color: var(--colorForeground);
        text-decoration: none;
        font-weight: 600;
    }
    a:hover {
        text-decoration: underline;
    }
    margin: 0;
    padding: 0;
    display: block;
}
.container {
    background-color: var(--colorBlue);
    color: var(--colorForeground);
    width: 100vw;
    aspect-ratio: 16 / 9;
    max-height: 100vh;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
.stage {
    display: block;
    height: 100%;
    aspect-ratio: 4 / 3;
    margin: 0;
    padding: 0;
    flex-grow: 0;
}
.column {
    display: block;
    position: relative;
    height: 100%;
    flex-grow: 1;
}

.header {
    background-color: var(--colorForeground);
    color: var(--colorBlue);
    margin: 0;
    margin-bottom: 31px;
    padding: min(13px, 0.9cqw);
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: flex-end;
    gap: min(31px, 1.9cqw);
    outline: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: min(31px, 1.9cqw);
    a:link, a:visited, a:hover{
        color: var(--colorBlue);
        font-weight: 400;
    }
    z-index: 314;
}

dialog {
    width: 90vw;
    height: 85vh;
    background-color: var(--colorGrey);
    border: none;
    outline: none;
    border-radius: 3px;
    position: relative;
}
dialog::backdrop {
    background-color: color-mix(in oklab, #00000000 50%, var(--colorGrey));
    backdrop-filter: blur(3px);
}
dialog img {
    display: block;
    padding: 13px;
    padding-top: 314px;
    width: 100%;
    box-sizing: border-box;
}

.backdrop {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.backdropContainer {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 0;
    height: 100%;
    aspect-ratio: 4 / 3;
    box-sizing: border-box;
    border-radius: 3px;
    outline: 9px solid var(--colorForeground);
    background-color: var(--colorForeground);
}